---
Checks: 'clang-diagnostic-*,clang-analyzer-*,bugprone-*,cppcoreguidelines-*,misc-*,modernize-*,performance-*,portability-*,readability-*,cert*,hicpp-*,-portability-avoid-pragma-once,-clang-analyzer-unix.Errno,-cppcoreguidelines-avoid-magic-numbers,-readability-magic-numbers,-hicpp-signed-bitwise,-clang-diagnostic-unused-parameter,-misc-unused-parameters,-clang-analyzer-security.insecureAPI.*,-misc-use-internal-linkage,-bugprone-branch-clone'
WarningsAsErrors: ''
HeaderFilterRegex: ''
#AnalyzeTemporaryDtors: false
FormatStyle: none
User: laura
CheckOptions:
  readability-function-cognitive-complexity.IgnoreMacros: 'true'
  hicpp-signed-bitwise.IgnorePositiveIntegerLiterals: 'true'
  bugprone-easily-swappable-parameters.MinimumLength: '3'
...

